table{
    border:2px solid #808080;
    border-collapse: collapse;
    border-top-style:solid;
    width: 100%;
    text-align: left;
    padding-bottom:30px;
    margin-bottom:30px;
}
table th{
    border:2px solid #808080;
    padding:2px;
}
table td{
    border:2px solid #808080;
    padding:2px;
}